# Copyright 2025 XTX Markets Technologies Limited
#
# SPDX-License-Identifier: GPL-2.0-or-later

cpp/core/MsgsGen.cpp linguist-generated=true
cpp/core/MsgsGen.hpp linguist-generated=true
go/msgs/msgs_bincode.go linguist-generated=true
kmod/bincodegen.h linguist-generated=true
kmod/bincodegen.c linguist-generated=true