<!doctype html>
<title>Block services</title>
<meta http-equiv="refresh" content="30">
<h1>Block services</h1>
<table border=1 cellpadding=10>
<thead>
<tr>
    <th>ID
    <th>Address
    <th>Storage class
    <th>Failure domain
    <th>Status
    <th>Last checked
    <th>Stored bytes
    <th>Free space
<tbody>
{% for item in devices %}
<tr>
    <td>{{ item.id_str }}
    <td>{{ item.ip_port|resolve }}
    <td>{{ item.storage_class_str }}
    <td>{{ item.failure_domain }}
    <td>{{ item.status }}
    {% if item.last_check is stale %}
    <td style="color:red">{{ item.last_check|dateformat }}
    {% else %}
    <td>{{ item.last_check|dateformat }}
    {% endif %}
    <td>{{ item.used_bytes|filesizeformat }}
    <td>{{ item.free_bytes|filesizeformat }}
    {% if item.status == "ok" %}
    <td><button onclick="change_status('drain', {{ item.id }})">Drain</button>
    {% elif item.status == "drain" %}
    <td><button onclick="change_status('resume', {{ item.id }})">Resume</button>
    {% endif %}
    {% if item.status == "drain" and item.last_check is stale %}
    <td><button onclick="change_status('terminate', {{ item.id }}, true)">Terminate</button>
    {% endif %}
{% endfor %}
</table>
<script>
async function post_data(url, data) {
    const response = await fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
    });
    return response.json();
}
async function change_status(action, id, need_confirm=false) {
    if (need_confirm && !confirm("Are you sure?")) return;
    await post_data('/change_status', {
        'action': action,
        'id': id,
    });
    location.reload();
}
</script>
