{{define "body"}}
    <p>
        <ul>
            <li>{{.NumBlockServices}} block services on {{.NumFailureDomains}} failure domains</li>
            <li>Total capacity: {{.TotalCapacity}}</li>
            <li>{{.TotalUsed}} used over {{.Blocks}} blocks ({{.TotalUsedPercentage}})</li>
        </ul>    
    </p>
    <h2 id="cdc">CDC</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Address 1</th>
                <th>Address 2</th>
                <th>LastSeen</th>
            </tr>
        <tbody>
            <tr>
                <td><code>{{.CDCAddr1}}</code></td>
                <td><code>{{.CDCAddr2}}</code></td>
                <td>{{.CDCLastSeen}}</td>
            </tr>
        </tbody>
    </table>
    <h2 id="shards">Shards</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Address 1</th>
                <th>Address 2</th>
                <th>LastSeen</th>
            </tr>
        <tbody>
            {{ range $id, $shard := .ShardsAddrs }}
                <tr>
                    <td><code>{{printf "%03v" $id}}</code></td>
                    <td><code>{{$shard.Addr1}}</code></td>
                    <td><code>{{$shard.Addr2}}</code></td>
                    <td>{{$shard.LastSeen}}</td>
                </tr>
            {{end}}
        </tbody>
    </table>
    <h2 id="block-services">Block services</h2>
    <table class="table">
        <thead>
            <tr>
                <th>FailureDomain</th>
                <th>Address 1</th>
                <th>Address 2</th>
                <th>Path</th>
                <th>Id</th>
                <th>Flags</th>
                <th>StorageClass</th>
                <th class="text-end">Blocks</th>
                <th class="text-end">Capacity</th>
                <th class="text-end">Available</th>
                <th>LastSeen</th>
            </tr>
        <tbody>
            {{ range .BlockServices }}
                <tr id="bs-{{.Id}}">
                    <td>{{.FailureDomain}}</td>
                    <td><code>{{.Addr1}}</code></td>
                    <td><code>{{.Addr2}}</code></td>
                    <td><code>{{.Path}}</code></td>
                    <td><code>{{.Id}}</code></td>
                    <td><code>{{.Flags}}</code></td>
                    <td>{{.StorageClass}}</td>
                    <td class="text-end">{{.Blocks}}</td>
                    <td class="text-end">{{.CapacityBytes}}</td>
                    <td class="text-end">{{.AvailableBytes}}</td>
                    <td>{{.LastSeen}}</td>
                </tr>
            {{end}}
        </tbody>
    </table>
{{end}}
