integrationtest/integrationtest
ternweb/ternweb
ternfuse/ternfuse
restarter/restarter
ternblocks/ternblocks
ternrun/ternrun
gcdaemon/gcdaemon
terncli/terncli
terntests/terntests
bincodegen/bincodegen
crc32csum/crc32csum
terngc/terngc
badblocks/badblocks
ternregistryproxy/ternregistryproxy
terns3/terns3
