# Copyright 2025 XTX Markets Technologies Limited
#
# SPDX-License-Identifier: GPL-2.0-or-later

*.qcow2
compile_commands.json
*.o
*.d
*.cmd
Module.symvers
modules.order
*.ko
*.mod
*.mod.c
ternfs-client-*
linux*
*.img
html
Doxyfile
revision.c
crc32c_body.c
gf_tables.c
iscsi.h
rs_core.c
debian/debhelper-build-stamp
debian/files
debian/changelog
debian/dkms
debian/install
ternfs-client.service
